body{

    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 120%;
}

.top-container{
    background-color: #effcef;
    position: relative;
    padding: 100px;
    

}

h1{
    color: #66BFBF;
    margin-top: 150px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    
}

.top-container p{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}
h3{
    color: #11999E;
}

p{
    line-height: 2;
}



.person-img{

    width: 10%;
}

.middle-container{

    margin: 100px 0;
   
}



.skill-row{

    width: 50%;
    text-align: left;
    line-height: 2;
    margin: 100px auto 100px auto;
}


.code-img{

    width: 30%;
    float: left;
    margin-right: 50px;
}


.chilli-img{

    width: 30%;
    float: right;
    margin-left: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;


}

.top-cloud{
    position: relative;
    left: 300px;
    top: 150px;

}

.intro{
    width: 30%;
    margin: auto;
}

.bottom-container{
    background-color: #11999E;
    padding: 40px 0 20px;


    
}

.footer-link{

    margin: 0 30px;
    text-decoration: none;

}
.footer-link:hover{
    color: white;
}

.footer{
    font-size: 10px;
    padding-top: 20px;
}


.btn{
    color: rgb(58, 40, 40);
font-size: 20px;
font-family: 'Montserrat', sans-serif;
padding: 8px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: rgb(0, 11, 0);
background: -moz-linear-gradient(90deg, rgb(0, 11, 0) 0%, rgb(0, 177, 204) 0%);
background: -webkit-linear-gradient(90deg, rgb(0, 11, 0) 0%, rgb(0, 177, 204) 0%);
background: -o-linear-gradient(90deg, rgb(0, 11, 0) 0%, rgb(0, 177, 204) 0%);
background: -ms-linear-gradient(90deg, rgb(0, 11, 0) 0%, rgb(0, 177, 204) 0%);
background: linear-gradient(0deg, rgb(0, 11, 0) 0%, rgb(0, 177, 204) 0%);
-webkit-box-shadow: 0px -1px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px -1px 0px rgba(50, 50, 50, 1);
box-shadow:         0px -1px 0px rgba(50, 50, 50, 1);
}

.btn:hover{
    background: lightblue;
}

hr{
    border-style: dotted;
    border-width: 5px;
    width: 50px;
    border-bottom: none;
    margin: 100px auto;
    border-color: grey;

}
